<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mon Profil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

<div *ngIf="user && appConfiguration">

  <div class="user-bg">
    <img width="100%" alt="user" src="{{ appConfiguration.URL_HOME }}/plugins/images/large/img1.jpg">
    <div class="overlay-box">
      <div class="user-content">
        <a href="javascript:void(0)">
          <img src="{{ appConfiguration.URL_HOME }}/plugins/images/users/{{ user.PHOTO_CLIENT }}" class="thumb-lg img-circle" alt="img">
        </a>
        <h3>{{ user.PRENOM_CLIENT }} {{ user.NOM_CLIENT }}</h3>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-item-divider color="light">Espace Clients</ion-item-divider>
    <button ion-item>Mes commandes</button>
    <button (click)="goToMessage()" ion-item>Messagerie</button>
  </ion-list>

  <form *ngIf="active" name="form" (ngSubmit)="saveUserProfil()" #f="ngForm" novalidate>

    <ion-list>
      <ion-item-divider color="light">Mes Informations</ion-item-divider>

      <ion-item>
        <ion-input required [(ngModel)]="user.PRENOM_CLIENT" name="prenom" #prenom="ngModel" placeholder="Prénom" type="text"></ion-input></ion-item>

      <ion-item>
        <ion-input required [(ngModel)]="user.NOM_CLIENT" name="nom" #nom="ngModel" placeholder="Nom" type="text"></ion-input></ion-item>

      <ion-item>
        <!-- https://stackoverflow.com/questions/42366649/angular2-email-validation -->
        <ion-input required [(ngModel)]="user.EMAIL_CLIENT"
                   name="email" #email="ngModel" placeholder="Email"
                   type="email" email></ion-input></ion-item>

      <ion-item>
        <ion-input [(ngModel)]="user.TEL_CLIENT" name="tel" #tel="ngModel" placeholder="Téléphone" type="text"></ion-input></ion-item>

      <ion-item>
        <ion-input [(ngModel)]="user.ADRESSE_CLIENT" name="adresse" #adresse="ngModel" placeholder="Adresse" type="text"></ion-input></ion-item>

      <ion-item>
        <ion-input [(ngModel)]="user.CP_CLIENT" name="cp" #cp="ngModel" placeholder="Code Postale" type="text"></ion-input></ion-item>

      <ion-item>
        <ion-input [(ngModel)]="user.VILLE_CLIENT" name="ville" #ville="ngModel" placeholder="Ville" type="text"></ion-input></ion-item>

      <ion-item>
        <ion-input [(ngModel)]="user.PAYS_CLIENT" name="pays" #pays="ngModel" placeholder="Pays" type="text"></ion-input></ion-item>

      <div padding>
        <button *ngIf="f.dirty" [disabled]="f.invalid"
                block ion-button round outline color="dark">
          <span *ngIf="!loadingProfil">Enregistrer</span>
          <ion-spinner name="crescent" *ngIf="loadingProfil" class="button-spinner"></ion-spinner>
        </button>
      </div>

    </ion-list>

  </form>

  <p text-center><strong>Dernière Connexion :</strong><br> {{ user.LOG_CLIENT }}</p>

  <ion-list>
    <ion-item-divider color="light">Nous contacter</ion-item-divider>
    <ion-item>{{ appConfiguration.NOM_SITE }}</ion-item>
    <ion-item>{{ appConfiguration.PRENOM }} {{ appConfiguration.NOM }}</ion-item>
    <ion-item>{{ appConfiguration.TEL_SITE }}</ion-item>
    <ion-item>{{ appConfiguration.EMAILPROFIL }}</ion-item>
  </ion-list>

</div>

</ion-content>
