page-profil {
  .user-bg {
    height: 230px;
    overflow: hidden;
    position: relative;
  }
  .user-bg .overlay-box {
    background: #F5715A;
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    text-align: center;
  }
  .user-bg .overlay-box .user-content {
    padding: 15px;
    margin-top: 30px;
  }
  .thumb-lg {
    height: 88px;
    width: 88px;
  }
  .img-circle {
    border-radius: 50%;
  }
  h3 {
    color: #FFF;
  }
}
