page-produit {
}

.ion-ios-person {
  margin-right: 10px;
}

.produitPage {
  background-color: #000;

  img {
    width: 100%;
  }

  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #FFF;
  }

  p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #FFF;
    padding: 0 5px;
  }

  button {
    background-color: #FFFFFF;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
  }

}
