<ion-header>

  <ion-navbar>
    <ion-title *ngIf="produit">{{ produit.NOM_PRODUIT }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="produitPage" no-padding>
  <div *ngIf="produit">
    <img src="{{ appConfiguration.URL_HOME }}/img/produits/{{ produit.IMG_PRODUIT }}">
    <p padding [innerHtml]="produit.DESCRIPTION_PRODUIT"></p>
    <div padding>
      <button block ion-button full round>Ajouter au Panier</button>
    </div>
  </div>
</ion-content>
