<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Spot Evasion !</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="appConfiguration">

    <ion-slides pager>
      <ion-slide *ngFor="let slide of diaporama">
        <!--<img src="{{ appConfiguration.URL_HOME }}/plugins/images/heading-bg/{{ slide.IMG_DIAPORAMA }}" alt="{{ slide.IMG_DIAPORAMA }}">-->
        <img-loader src="{{ appConfiguration.URL_HOME }}/plugins/images/heading-bg/{{ slide.IMG_DIAPORAMA }}" useImg></img-loader>
      </ion-slide>
    </ion-slides>

    <h3 text-center>Découvrez notre sélection de produits</h3>
    <p text-center>
      Bienvenue, découvrez ci-dessous notre sélection de produits<br> pour votre plus grand plaisir !
      <br><ion-icon name="globe"></ion-icon>
    </p>

    <ion-card *ngFor="let produit of produits">
      <!--<img src="{{ appConfiguration.URL_HOME }}/img/produits/{{ produit.IMG_PRODUIT }}"/>-->
      <img-loader src="{{ appConfiguration.URL_HOME }}/img/produits/{{ produit.IMG_PRODUIT }}" useImg></img-loader>
      <ion-card-content>
        <ion-card-title>
          <div float-left>{{ produit.NOM_PRODUIT }}</div>
          <div float-right><ion-icon name="pricetag" large ></ion-icon> {{ produit.TARIF_PRODUIT }} &euro;</div><br>
          <small>{{ produit.ACCROCHE_PRODUIT }}</small>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>

  <!--<ion-card *ngFor="let produit of produits">

    <img src="{{ appConfiguration.URL_HOME }}/img/produits/{{ produit.IMG_PRODUIT }}"/>
    <ion-item>
        <h2>{{ produit.NOM_PRODUIT }}</h2>
        <p>{{ produit.ACCROCHE_PRODUIT }}</p>
    </ion-item>-->

    <!--<ion-item>
      <span item-left><ion-icon name="pricetag" item-left large ></ion-icon></span>
      <span item-left><h2>{{ produit.TARIF_PRODUIT }} EUR </h2></span>
    </ion-item>-->

    <!--<ion-item>
      <span item-left>{{ produit.NOM_CATEGORIE }}</span>
      <button ion-button icon-left clear item-end>
        <ion-icon name="eye"></ion-icon>
        Consulter
      </button>
    </ion-item>-->

  <!--</ion-card>-->

</ion-content>
