<ion-menu [content]="content">

  <!--<ion-header>-->
    <!--<ion-toolbar>-->
      <!--<ion-title>-->
        <!--<img src="{{ appConfig.logo_site }}" alt="{{ appConfig.nom_site }}">-->
      <!--</ion-title>-->
    <!--</ion-toolbar>-->
  <!--</ion-header>-->

  <ion-content>

    <div class="appLogo" *ngIf="appConfiguration">
      <img (click)="openPage('home')" src="{{ appConfiguration.URL_HOME }}{{ appConfiguration.LOGO_SITE }}" alt="{{ appConfiguration.nom_site }}">
    </div>

    <ion-list class="appMenu">

      <ion-list-header>
        Catégories
      </ion-list-header>
      <ion-item *ngFor="let categorie of appCategories" (click)="openPage('produits', categorie)">
        {{ categorie.NOM_CATEGORIE }}
      </ion-item>

      <ion-list-header>
        Espace Clients
      </ion-list-header>
      <ion-item (click)="openPage('connexion')">Connexion <ion-icon name="log-in" item-end></ion-icon></ion-item>
      <ion-item (click)="openPage('inscription')">Inscription <ion-icon name="key" item-end></ion-icon></ion-item>
      <ion-item (click)="openPage('contact')">Contact <ion-icon name="mail" item-end></ion-icon></ion-item>

    </ion-list>

  </ion-content>

  <!--<ion-footer>-->
    <!--<ion-toolbar>-->
      <!---->
    <!--</ion-toolbar>-->
  <!--</ion-footer>-->

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [rootParams]="appConfiguration" #content swipeBackEnabled="s"></ion-nav>
